<h1>Login</h1>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<form action="/login" method="POST"> <!-- 폼 태그입니다.. 이쁘게 꾸며주세요 선생님 -->
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a> <!-- Register로 가는 앵커태그입니다 -->

<!-- 로그인 페이지 입니다 선생님 -->